.title {
  text-align: center;
}

.card {
  margin: 5px 0px;
  cursor: pointer;
}

.buttonContainer, .centerImage, .centerCol {
  display: flex;
  justify-content: center;
  align-items: center;    
  align-content: center;  
}

.buttonContainer button {
  margin: 5px;
}

.pokemonDetailImage {
  width: 150px;
  height: 150px;
}